[language-server.rust-lsp]
command = "rust-analyzer"

[[language]]
name = "rust"
language-servers = [ { name = "rust-analyzer" } ]

roots = [
  "Cargo.toml",
  "Cargo.lock",
]

[language-server.rust-analyzer.config]
check.command = "clippy"

[language-server.rust-analyzer.config.inlayHints]
typeHints.enable = true
parameterHints.enable = true
chainingHints.enable = true

[language-server.ruff-server]
command = "ruff"
args = ["server"]

[language-server.pyrefly]
command = "pyrefly"
args = ["lsp"]

[language-server.ty]
command = "ty"
args = ["server"]

[[language]]
name = "python"
scope = "source.python"
injection-regex = "python"
file-types = ["py", "pyi", "py3", "pyw", "ptl", "rpy", "pyx", "pxd"]
indent = { tab-width = 4, unit = "    " }
# language-servers = ["basedpyright", "ty", "ruff-server", "pyrefly"]
language-servers = ["ty"]

[language.formatter]
command = "ruff"
args = ["format", "--line-length", "120", "--stdin-filename", "file", "-"]

[language-server.markdown-lsp]
command = "marksman"

[[language]]
name = "markdown"
soft-wrap = { enable = true, wrap-at-text-width = true }
language-servers = [ { name = "marksman" } ]
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"] }
