[alias]
    ec = config --global -e
    ci = commit
    co = checkout
    st = status -s
    le = log --oneline --decorate
    show-graph = log --oneline --decorate --all --graph
    lg2 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    glog = log --all --pretty='format:%d%Cgreen%h%Creset %an - %s' --graph
    count-changes = !git status -s | wc -l
    d = diff --word-diff
[apply]
    whitespace = fix
[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto
    pager = true
[color "branch"]
    current = green
    local = blue
    remote = red
[color "diff"]
    meta = yellow
    frag = magenta
    old = red bold
    new = green
    plain = white
[color "forward"]
    status = bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    editor = vim
    legacyheaders = false
	excludesfile = /Users/wolf/.gitignore_global
    whitespace = trailing-space,space-before-tab,cr-at-eol
[diff]
    renames = copy
    mnemonicprefix = true
    tool = opendiff
    renamelimit = 1428
[difftool]
    prompt = false
[gui]
    fontdiff = -family \"Bitstream Vera Sans Mono\" -size 13 -weight normal -slant roman -underline 0 -overstrike 0
    fontui = -family \"Bitstream Vera Sans Mono\" -size 13 -weight normal -slant roman -underline 0 -overstrike 0
[help]
    autocorrect = 20
[merge]
    tool = opendiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[push]
    default = current
[repack]
    usedeltabaseoffset = true
[rerere]
    enabled = true
[user]
    name = Wolf
    email = wolf@zv.cx
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
