[alias]
    co = checkout
    ci = commit
    br = branch
    d = diff --word-diff
    ec = config --local --edit
    egc = config --global --edit
    l = log --decorate --abbrev-commit --oneline
    l8 = log --decorate --abbrev-commit --oneline -8
    lg = log --pretty=format:'%C(yellow)%h%Creset %C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    st = status
    s = status -s
    n = ! git status -s | wc -l
    unstage = restore --staged
    aliases = ! git config --list | grep alias
[apply]
    whitespace = fix
[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto
    pager = true
[color "branch"]
    current = green
    local = blue
    remote = red
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    old = red bold
    new = green bold
    plain = white
    commit = yellow bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    editor = vim
    legacyheaders = false
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.gitattributes_global
    whitespace = trailing-space,space-before-tab,cr-at-eol
[diff]
    renames = copy
    mnemonicprefix = true
    tool = opendiff
    renamelimit = 1428
[difftool]
    prompt = false
[help]
    autocorrect = 20
[merge]
    tool = opendiff
    conflictstyle = diff3
    renameLimit = 65000
    directoryRename = true
[mergetool]
    prompt = false
[pull]
    rebase = merges
[push]
    default = nothing
[repack]
    usedeltabaseoffset = true
[rerere]
    enabled = true
[user]
    name = Wolf
    email = Wolf@learninga-z.com
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = main
