source ~/.vimrc

let mapleader = "\<Space>"

set clipboard+=ideaput

set easymotion
set ideajoin
set idearefactormode=keep
set sneak
set surround

nmap <silent> <C-l> :action EditorToggleShowWhitespaces<CR>

nmap [m :action MethodUp<CR>
nmap ]m :action MethodDown<CR>

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
