set incsearch
set hlsearch
set surround
set scrolloff=3

let mapleader="\<space>"
let localmapleader="\\"

nnoremap <leader>l :set list!<cr>

inoremap jk <Esc>

inoremap <Left> <nop>
inoremap <Right> <nop>
inoremap <Up> <nop>
inoremap <Down> <nop>
nnoremap <Left> <nop>
nnoremap <Right> <nop>
nnoremap <Up> <nop>
nnoremap <Down> <nop>

