source ~/.vimrc

set commentary
set easymotion
set exchange
set highlightedyank
set surround
set clipboard+=ideaput

nnoremap <silent> <C-l> :action EditorToggleShowWhitespaces<cr>

nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr
